<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 d-flex justify-content-center align-items-center">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand ms-1" [routerLink]="['']">
      <!-- <i class="fa-solid fa-hands-holding-child"></i> -->
      <img src="img/original.png" width="35px">
      <span class="d-lg-none ms-2 text-white fs-med">Municipalidad de Formosa</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="eventos" routerLinkActive="active"><i class="fas fa-list fs-min"></i>
            Gestionar
            Eventos</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
