.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.routerOutlet-main{
  border: solid 1px silver;
  background-color: #ebebeb !important;
  margin-top: 5rem !important;
  border-radius: 3px !important;
  width: 100%;
}
