<div class="container-fluid">
  <h5 class="fs-med fw-bold family-montserrat">
    Asignar actividades a un evento
  </h5>
  <hr />
  <div class="alert alert-primary" role="alert">
    En el siguiente listado deberá seleccionar al menos una actividad para
    confirmar la operacion
    <strong></strong>
  </div>

  <div class="row p-2">
    <div class="col-12 col-md-4 p-0">
      <div class="d-flex justify-content-center">
        <mat-form-field class="w-100 me-2 p-0">
          <input matInput (keyup)="applyFilter($event)" placeholder="Buscar un registro" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-4 p-0">
      <button class="btn btn-success fw-bold px-5 py-3" (click)="submitForm()">
        Confirmar <i class="fas fa-check"></i>
      </button>
    </div>
    <div class="col-12 p-0 show-responsive d-none" *ngFor="let actividad of arrayActividadesAsig">
      <div class="alert border shadow py-3 px-3" role="alert">
        <h4 class="alert-heading fs-med py-0">
          {{ actividad.idSubRubro }}. {{ actividad.descripcion }}
        </h4>
      </div>
    </div>
  </div>


  <table
  mat-table [dataSource]="dataSourceAsig" class="mat-elevation-z8"
    class="shadow border tbafiliados hidden-desktop">
    <ng-container matColumnDef="idSubRubro">
      <th mat-header-cell *matHeaderCellDef class="mat-th fs-min text-center border">
        idSubRubro
      </th>
      <td mat-cell *matCellDef="let element" class="py-0 text-center border-bottom fs-min">
        {{ element.idSubRubro }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef class="mat-th fs-min text-center border">
        Descripcion
      </th>
      <td mat-cell *matCellDef="let element" class="py-0 text-left border-bottom fs-min">
        {{ element.descripcion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Importe">
      <th mat-header-cell *matHeaderCellDef class="mat-th fs-min text-center border">
        Importe
      </th>
      <td mat-cell *matCellDef="let element" class="py-0 text-left border-bottom fs-min">
        ${{ element.ImporteSujerido }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Seleccionar">
      <th mat-header-cell *matHeaderCellDef class="mat-th fs-min text-center border">
        Seleccionar
      </th>
      <td mat-cell *matCellDef="let element" class="border-bottom cellCheck">
        <div class="form-check form-switch d-flex">
          <input class="form-check-input" type="checkbox" [id]="'checkbox-' + element.idSubRubro"
            [value]="element.idSubRubro" [checked]="acumulador(element.idSubRubro)"
            (change)="seleccionActividades($event, element.idSubRubro)" />
        </div>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumnsAsig" class="fw-bold"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsAsig" class="fw-bold"></tr>
  </table>

  <mat-paginator class="shadow hidden-desktop" [length]="100" [pageSize]="8" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>
</div>
