img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.form-check-input:checked {
  background-color: #1ca470;
  border-color: #1ca470;
}

